{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mon compte</h1>


<div class="bs-component">
    <a href="{{ path('transaction_new') }}"> <button type="button" class="btn btn-primary btn-xs">Ajouter</button></a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Libellé</th>
                <th>Montant</th>
                <th>Hash</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ path('transaction_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.amount }}</td>
                <td>{{ entity.hash }}</td>
                <td>
                        <a href="{{ path('transaction_show', { 'id': entity.id }) }}"> <button type="button" class="btn btn-primary btn-xs">Afficher</button></a>
                        <a href="{{ path('transaction_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-warning btn-xs">Modifier</button></a>
                         <a href="{{ path('transaction_delete', { 'id': entity.id }) }}"><button type="button" class="btn btn-danger btn-xs">Supprimer</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

</div>
    {% endblock %}

