<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Starter Template - Materialize</title>

</head>
<body>
  <nav>
  <a href="{{path('fos_user_security_login')}}">connexion</a>
  <a href="{{path('fos_user_security_logout')}}">logout</a>
  <a href="{{path('fos_user_registration_register')}}">inscription</a>
  <a href="{{path('transaction')}}">transaction</a>
  <a href="{{path('account_my')}}">mon compte {{app.user.username}}</a>
  <a href="{{path('pot_my')}}">mes pots</a>
  </nav>
  
  {% block body %}{% endblock %}


  </body>
</html>
