{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mes cagnottes</h1>
 
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Pour</th>
                <th>Date de fin</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}

            <tr>
                <td><a href="{{ path('pot_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.who }}</td>
                <td>{% if entity.dateEnd %}{{ entity.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.amount }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pot_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('pot_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('pot_new') }}">
                Crée une cagnotte
            </a>
        </li>
    </ul>
    {% endblock %}
