{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mon compte</h1>

    <table class="record_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Libellé</th>
                <th>Montant</th>
                <th>Hash</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in transactions %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ path('transaction_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.amount }}</td>
                <td>{{ entity.hash }}</td>
                <td>
                        <a href="{{ path('transaction_show', { 'id': entity.id }) }}"> Afficher</a>
                        <a href="{{ path('transaction_edit', { 'id': entity.id }) }}"> Modifier</a>
                         <a href="{{ path('transaction_delete', { 'id': entity.id }) }}"> Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('transaction_new') }}">
                Ajouter une transaction
            </a>
        </li>
    </ul>
    {% endblock %}
